@()(implicit messages:Messages)
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="@routes.Application.index()">@Messages("application.name")</a>
    </div>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="@routes.Products.list()">@Messages("products.list.navigation")</a>
        </li>
        <li class="active">
            <a href="@routes.Products.newProduct()" >
                <i class="icon-plus icon-white"></i>
                @Messages("products.new")
            </a>
        </li>
    </ul>
</div>